{% load static %}
{% include 'components/header.html' %}

<link rel="stylesheet" href="{% static 'css/book_detail.css' %}">

<div class="container mt-4">
    <div class="movie-card">
        <div class="card">
            {% if book.image %}
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
            {% else %}
                <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Нет изображения">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.description }}</p>
                <p><strong>Цена:</strong> {{ book.price }}</p>
                <p><strong>Дата выхода:</strong> {{ book.created_at|date:"d.m.Y" }}</p>
                <p><strong>Жанр:</strong> {{ book.genre }}</p>
                <p><strong>Почта:</strong> {{ book.email }}</p>
                <p><strong>Автор:</strong> {{ book.author }}</p>
                {% if book.video_id %}
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ book.video_id }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    </div>

    {% if book.reviews.all %}
    <div class="comment-section mt-4">
        <h5>Комментарии</h5>
        {% for review in book.reviews.all %}
        <div class="comment">
            <p>{{ review.created_at|date:"d.m.Y H:i" }}: {{ review.comment }} <strong>Оценка: {{ review.stars }}</strong></p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Комментариев пока нет.</p>
    {% endif %}
</div>

{% include 'components/footer.html' %}
