{%load static%}
{% include 'components/header.html' %}


<link rel="stylesheet" href="{% static 'css/book.css'%}">
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        <!-- Пример для еще одной карточки -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
               {% for book in book_list %}
               {% if book.image %}
                    <img src="{{ book.image.url }}" class="card-img-top" alt="Обложка книги">
                {% else %}
                    <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Нет изображения">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">({book.title})</h5>
                    <p class="card-text">({book.created_at})</p>
                    <a href="/books/{{book.id}}" class="btn btn-primary">Подробнее</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!--Футер-->
{% include 'components/footer.html' %}
